# SPDX-FileCopyrightText: 2024 Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: 2024 Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
# SPDX-FileCopyrightText: 2018 Jan Vlnas
#
# SPDX-License-Identifier: GPL-2.0-or-later

root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
