[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yamllint = "~=1.32.0"
ansible-lint = "~=6.17.2"
molecule = "~=5.1.0"
molecule-plugins = {extras = ["podman"], version = "~=23.4.1"}

[packages]
ansible = "~=8.0.0"

[requires]
python_version = "3.10"
