# SPDX-FileCopyrightText: Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yamllint = "~=1.35.1"
ansible-lint = "~=24.5.0"
molecule = "~=24.2.0"
molecule-plugins = {extras = ["podman"], version = "~=23.5.3"}
reuse = "~=3.0.2"
netaddr = "~=1.2.1"

[packages]
ansible = "~=9.6.0"

[requires]
python_version = "3.12"
