[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yamllint = "~=1.32.0"
ansible-lint = "~=6.21.1"
molecule = "~=6.0.2"
molecule-plugins = {extras = ["podman"], version = "~=23.5.0"}

[packages]
ansible = "~=8.5.0"

[requires]
python_version = "3.10"
