# SPDX-FileCopyrightText: Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: MIT

---

- name: "Nginx | Create config"
  become: true
  ansible.builtin.template:
    src: "nginx-zammad.conf.j2"
    dest: "{{ zammad_nginx_config_path }}"
    mode: "0644"
    owner: "root"
    group: "root"
  notify: "Reload nginx"

...
