[Unit]
Description=Daily apt download activities

[Timer]
OnCalendar=
OnCalendar={{ unattended_apt_daily_oncalendar }}
RandomizedDelaySec={{ unattended_apt_daily_randomizeddelaysec }}
Persistent=true

[Install]
WantedBy=timers.target
