# SPDX-FileCopyrightText: Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

---
name: "Install dependencies and prepare the environment."
description: "Install the necessary dependencies for jobs."
runs:
  using: "composite"
  steps:
    - name: "Configure UV_PYTHON variable"
      run: 'echo "UV_PYTHON=$(cat .python-version)" >> $GITHUB_ENV'
      shell: "bash"
      working-directory: "./ansible_collections/hifis/toolkit/"

    - name: "Set up Python 3.x"
      uses: "actions/setup-python@v5"
      with:
        python-version-file: "./ansible_collections/hifis/toolkit/.python-version"

    - name: "Install uv"
      uses: "astral-sh/setup-uv@v5"
      with:
        enable-cache: true
        cache-dependency-glob: "./ansible_collections/hifis/toolkit/uv.lock"

    - name: "Install dependencies via uv."
      run: "uv sync --frozen"
      shell: "bash"
      working-directory: "./ansible_collections/hifis/toolkit"
