# SPDX-FileCopyrightText: Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

---
name: "Pull Request Labeler"

on:
  pull_request_target:
    types:
      - "labeled"
      - "unlabeled"
      - "opened"
      - "edited"
      - "synchronize"

jobs:
  labeler:
    runs-on: "ubuntu-24.04"
    permissions:
      contents: "read"
      pull-requests: "write"
    steps:
      - name: "Check out the codebase."
        uses: "actions/checkout@v6"

      - uses: "actions/labeler@v6.0.1"
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
