# SPDX-FileCopyrightText: Helmholtz Centre for Environmental Research (UFZ)
# SPDX-FileCopyrightText: Helmholtz-Zentrum Dresden-Rossendorf (HZDR)
#
# SPDX-License-Identifier: Apache-2.0

---
name: "Ansible Lint"

on:
  push:
  pull_request:

env:
  PY_COLORS: 1
  ANSIBLE_FORCE_COLOR: 1

jobs:

  ansible-lint:
    name: "Ansible Lint"
    runs-on: "ubuntu-24.04"
    steps:
      - name: "Check out the codebase."
        uses: "actions/checkout@v4"

      - name: "Lint code."
        uses: "ansible/ansible-lint@v24.6.0"
